// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// Dark Blue
$darkblue: #080E2F;
// Dark Blue Filtered opaque
$filteredNav: #080e2fd7;
// Footer Blue
$footerblue: #060927;
// Next Green
$nextgreen: #00313E;
// Portfolio backgrounds
$portfolios: #36395D;
$squaresback: #33365B;
$newsquarescolor: #1c1d46;
// Technology Circle Colors
$lightertechcircles: #0d1270;
$bluertechcircles: #110F82;
$darkertechcircles: #00313E;
// Resume Button Green
$resumebutton: #507E81;
// Green Button Top
$greentop: rgba(255, 255, 255, 0.664);
// Skills Teal
$skillsteal: #146166;
// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);
// Job Descriptions
$jobdescription: #00C6C3;
$jobdescripgrey: #8081AA;
$descriptiongrey2: #7a7bd3;
$descriptionblue: #8091ED;
// First Blue
$firstblue: #58a6ff;
$savethis: #7273ad;
// Next Section Down
$nextsection: rgba(255, 255, 255, 0.509);

// Grey Button line
// $buttongrey: rgba(255, 255, 255, 0.664);
$buttongrey: #61677A;

// Linear Gradient
$projectboxes: linear-gradient(10deg, #5a5b76, $darkblue);
$projectboxes2: linear-gradient(45deg, #3b3e93, #060927);
$projectboxes4: linear-gradient(45deg, rgb(39, 39, 92), $footerblue);
$projectboxes3: linear-gradient(45deg, rgb(21, 21, 68), $footerblue);
$projectboxes5: linear-gradient(20deg, #3b3e93, $darkblue);


* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    main {
        background-color: rgb(4, 4, 104);
        background-color: $darkblue;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin-bottom: -100px;
        gap: 5em;
        nav {
            width: 100%;
            padding-top: 50px;
            background-color: darkcyan;
            background-color: $darkblue;
            // border-bottom: 1px solid $nextgreen;
            // Nav Words
            .nav_list {
                display: flex;
                justify-content: right;
                font-family: 'Inter', sans-serif;
                margin: 0 4em 0 0;
                ul {
                    display: flex;
                    gap: 1.5em;
                    li {
                        list-style: none;
                        a {
                            text-decoration: none;
                            font-weight: bold;
                            color: white;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
        header {
            color: white;
            font-weight: bold;
            font-size: 2.8rem;
            min-height: 30px;
            font-family: 'Inter', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2em;
            .header_logo {
                #courdevelops {
                    width: 6em;
                    height: 6em;
                    box-shadow: 2px 2px 2px black;
                    border-radius: 50%;
                }
            }
            .header_description {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            
                .header_name {
                    font-weight: bold;
                    font-size: 2.8rem;
                }
                .header_slogan {
                    font-size: 1.3rem;
                    font-weight: normal;
                }
                .header_socials {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1em;
                    margin-top: .5em;
                    background-color: $footerblue;
                    // background-color: $nextgreen;
                    // border-top: 1.8px solid $nextgreen;
                    // border-top: 2px solid white;
                    border: 1.8px solid $nextgreen;
                    // border: 1px solid white;
                    box-shadow: 1px 1px 1px black;
                    padding: .3em;
                    #github_head {
                        width: .5em;
                        height: .5em;
                    }
                    #twitter_head {
                        width: .5em;
                        height: .5em;
                    }
                    #linkedin_head {
                        width: .6em;
                        height: .6em;
                    }
                    #instagram_head {
                        width: .5em;
                        height: .5em;
                    }
                }
            }
        }
        article {
            color: white;
            width: 40%;
            text-align: center;
            font-size: 1.3rem;
        }
        // ABOUT SECTION
        .about_ {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
            background-color: $nextgreen;
            color: white;
            width: 100%;
            padding: 4em;
            .about_text {
                width: 50%;
                font-family: 'Inter', sans-serif;
                line-height: 30px;
            }
        }
        // PORTFOLIO SECTION
        .portfolio_ {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
            background-color: $darkblue;
            color: white;
            width: 100%;
            padding: 1em 0 4em 0;
            .portfolio_squares {
                display: flex;
                align-items: center;
                gap: 1em;
                .port_square {
                    // background-color: #1c1d46;
                    // background: $projectboxes5;
                    background: none;
                    // border-top: 1px solid $buttongrey;
                    // border-top: 2px solid $nextgreen;
                    border-right: 1px solid $nextgreen;
                    // padding: 5em 5em 10em 5em;
                    padding: 1em 1em 1em 1em;
                    font-family: 'Inter', sans-serif;
                    font-weight: bold;
                    cursor: pointer;
                    img {
                        width: 10em;
                        height: 3em;
                    }
                    #skill_project {
                        width: 15em;
                        height: 2em;
                    }
                    #rec_help {
                        width: 10em;
                        height: 4em;
                    }
                    #create_collab {
                        width: 11em;
                        height: 2em;
                    }
                    #time_card {
                        width: 10em;
                        height: 2em;
                    }
                }
            }
        }
        // SKILLS SECTION
        .skills_ {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
            background-color: $nextgreen;
            // background-color: $darkblue;
            color: white;
            width: 100%;
            padding: 6em;
            .skills_circles {
                display: flex;
                gap: 1em;
                .skills_circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: $nextgreen;
                    background-color: $resumebutton;
                    border: 2px solid $darkblue;
                    height: 7em;
                    width: 7em;
                    // height: 6em;
                    // width: 6em;
                    cursor: pointer;
                    .inner_circle {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        background-color: $darkblue;
                        // background-color: $nextgreen;
                        height: 90%;
                        width: 90%;
                        font-family: 'Inter', sans-serif;
                    }
                }
            }
        }
        // EXPERIENCE SECTION
        .experience_ {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
            background-color: $darkblue;
            color: white;
            width: 100%;
            padding-bottom: 4em;
            .experience_squares {
                display: flex;
                align-items: center;
                gap: 1em;
                .exp_square {
                    // background:$projectboxes5;
                    // background-color: $darkblue;
                    background: none;
                    // border-top: 1px solid $buttongrey;
                    // border-top: 2px solid $nextgreen;
                    border-right: 1px solid $nextgreen;
                    // padding: 5em 5em 5em 5em;
                    padding: 1em 1em 1em 1em;
                    font-family: 'Inter', sans-serif;
                    font-weight: bold;
                    cursor: pointer;
                    img {
                        width: 4em;
                        height: 4em;
                    }
                    #courdevelops {
                        width: 5em;
                        height: 5em;
                    }
                    #r1 {
                        width: 4em;
                        height: 3em;
                    }
                }
            }
        }
        footer{
            display: flex;
            // flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(2, 2, 58);
            background-color: $footerblue;
            border-top: 2px solid $nextgreen;
            color: white;
            padding: 60px;
            width: 100%;
            margin-top: auto;
            .soc_footer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .socials {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1em;
                    img {
                        width: 1.5em;
                        height: 1.5em;
                    }
                }
            }
            .email_sec {
                display: flex;
            }
            // FIXED METHOD
            // position: fixed;
            // bottom: 0;
            // width: 100%;
        }
    }
}