@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
}

html {
  height: 100%;
}

body main {
  background-color: rgb(4, 4, 104);
  background-color: #080E2F;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-bottom: -100px;
  gap: 5em;
}
body main nav {
  width: 100%;
  padding-top: 50px;
  background-color: darkcyan;
  background-color: #080E2F;
}
body main nav .nav_list {
  display: flex;
  justify-content: right;
  font-family: "Inter", sans-serif;
  margin: 0 4em 0 0;
}
body main nav .nav_list ul {
  display: flex;
  gap: 1.5em;
}
body main nav .nav_list ul li {
  list-style: none;
}
body main nav .nav_list ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}
body main header {
  color: white;
  font-weight: bold;
  font-size: 2.8rem;
  min-height: 30px;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
body main header .header_logo #courdevelops {
  width: 6em;
  height: 6em;
  box-shadow: 2px 2px 2px black;
  border-radius: 50%;
}
body main header .header_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main header .header_description .header_name {
  font-weight: bold;
  font-size: 2.8rem;
}
body main header .header_description .header_slogan {
  font-size: 1.3rem;
  font-weight: normal;
}
body main header .header_description .header_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 0.5em;
  background-color: #060927;
  border: 1.8px solid #00313E;
  box-shadow: 1px 1px 1px black;
  padding: 0.3em;
}
body main header .header_description .header_socials #github_head {
  width: 0.5em;
  height: 0.5em;
}
body main header .header_description .header_socials #twitter_head {
  width: 0.5em;
  height: 0.5em;
}
body main header .header_description .header_socials #linkedin_head {
  width: 0.6em;
  height: 0.6em;
}
body main header .header_description .header_socials #instagram_head {
  width: 0.5em;
  height: 0.5em;
}
body main article {
  color: white;
  width: 40%;
  text-align: center;
  font-size: 1.3rem;
}
body main .about_ {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 1em;
  background-color: #00313E;
  color: white;
  width: 100%;
  padding: 4em;
}
body main .about_ .about_text {
  width: 50%;
  font-family: "Inter", sans-serif;
  line-height: 30px;
}
body main .portfolio_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-color: #080E2F;
  color: white;
  width: 100%;
  padding: 1em 0 4em 0;
}
body main .portfolio_ .portfolio_squares {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
body main .portfolio_ .portfolio_squares .port_square {
  background: none;
  padding: 1em 1em 1em 1em;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
body main .portfolio_ .portfolio_squares .port_square img {
  width: 10em;
  height: 3em;
}
body main .portfolio_ .portfolio_squares .port_square #workflow_app {
  width: 10em;
  height: 2em;
}
body main .portfolio_ .portfolio_squares .port_square #luminex_solutions {
  width: 8.5em;
  height: 1.2em;
}
body main .portfolio_ .portfolio_squares .port_square #create_collab {
  width: 9em;
  height: 1.2em;
}
body main .portfolio_ .portfolio_squares .port_square #time_card {
  width: 8em;
  height: 1.7em;
}
body main .skills_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: #00313E;
  color: white;
  width: 100%;
  padding: 6em;
}
body main .skills_ .skills_circles {
  display: flex;
  gap: 1em;
}
body main .skills_ .skills_circles .skills_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #00313E;
  background-color: #507E81;
  border: 2px solid #080E2F;
  height: 7em;
  width: 7em;
  cursor: pointer;
}
body main .skills_ .skills_circles .skills_circle .inner_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #080E2F;
  height: 90%;
  width: 90%;
  font-family: "Inter", sans-serif;
}
body main .experience_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: #080E2F;
  color: white;
  width: 100%;
  padding-bottom: 4em;
}
body main .experience_ .experience_squares {
  display: flex;
  align-items: center;
  gap: 4em;
}
body main .experience_ .experience_squares .exp_square {
  background: none;
  border-right: 1px solid #00313E;
  padding: 1em 1em 1em 1em;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
body main .experience_ .experience_squares .exp_square img {
  width: 3em;
  height: 3em;
}
body main .experience_ .experience_squares .exp_square #courdevelops {
  width: 5em;
  height: 5em;
}
body main .experience_ .experience_squares .exp_square #r1 {
  width: 4em;
  height: 3em;
}
body main .experience_ .experience_squares .exp_square #slea {
  width: 4em;
  height: 4em;
}
body main footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(2, 2, 58);
  background-color: #060927;
  border-top: 2px solid #00313E;
  color: white;
  padding: 60px;
  width: 100%;
  margin-top: auto;
  font-family: "Inter", sans-serif;
}
body main footer .soc_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 4em;
  gap: 1.5em;
  font-size: 1rem;
}
body main footer .soc_footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}
body main footer .soc_footer .socials #github {
  width: 1.8em;
  height: 1.8em;
}
body main footer .soc_footer .socials #twitter {
  width: 1.6em;
  height: 1.6em;
}
body main footer .soc_footer .socials #linkedin {
  width: 2em;
  height: 2em;
}
body main footer .soc_footer .socials #instagram {
  width: 2em;
  height: 2em;
}
body main footer .email_sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 4em 0 0;
  padding: 10px;
}
body main footer .email_sec #contact_title {
  font-size: 1.8rem;
}
body main footer .email_sec .email_copy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 1.2rem;
  padding: 0.5em;
}
body main footer .email_sec .email_copy #copy_button {
  background-color: #060927;
  border: none;
  cursor: pointer;
}
body main footer .email_sec .email_copy #copy_button #copy {
  width: 1.7em;
  height: 2.5em;
}/*# sourceMappingURL=style.css.map */